# Environment variables
.env
.env.*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
ENV/

# dbt
target/
dbt_packages/
logs/

# Airflow
airflow.db
airflow.cfg
logs/

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Docker
docker-compose.override.yml

# Jupyter
.ipynb_checkpoints/
